# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: chore
      include: scope

  - package-ecosystem: "gitsubmodule"
    directories:
      - "/PC/Sleep-and-Wake-On-LAN-Node-Red-System"
      - "/PiDesk/Cups_Dymo-450"
      - "/PiHome/IOT/HC-SR501-Node-Red-Presence-Detector"
      - "/PiHome/IOT/LED-Strip-Controller-Software"
      - "/PiHome/IOT/Smart-RF-Plug-Transmitter"
      - "/PiHome/IOT/Web-Based-Fan-Controller"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: chore
      include: scope
