[submodule "utils/wifi-connect"]
	path = utils/wifi-connect
	url = git@github.com:balena-os/wifi-connect.git
[submodule "PiHome/IOT/Web-Based-Fan-Controller"]
	path = PiHome/IOT/Web-Based-Fan-Controller
	url = https://github.com/ScottGibb/Web-Based-Fan-Controller
[submodule "PiHome/IOT/Smart-RF-Plug-Transmitter"]
	path = PiHome/IOT/Smart-RF-Plug-Transmitter
	url = git@github.com:ScottGibb/Smart-RF-Plug-Transmitter.git
[submodule "PiHome/IOT/LED-Strip-Controller-Software"]
	path = PiHome/IOT/LED-Strip-Controller-Software
	url = https://github.com/ScottGibb/LED-Strip-Controller-Software
[submodule "HPNas/NAS-Media"]
	path = HPNas/NAS-Media
	url = http://192.168.0.67:1080/SGIBB/NAS-Media.git
[submodule "PiDesk/Cups_Dymo-450"]
	path = PiDesk/Cups_Dymo-450
	url = git@github.com:ScottGibb/Cups_Dymo-450.git
[submodule "PC/Sleep-and-Wake-On-LAN-Node-Red-System"]
	path = PC/Sleep-and-Wake-On-LAN-Node-Red-System
	url = https://github.com/ScottGibb/Sleep-and-Wake-On-LAN-Node-Red-System.git
