---
version: "3.7"

services:
  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: mqtt-broker
    ports:
      - "1883:1883" # MQTT port
      - "9002:9001" # MQTT over WebSockets (optional, for MQTT over WebSocket support)
    volumes:
      - mosquitto_data:/mosquitto/data
      - /home/pi/Home-Lab-Containers/PiHome/config:/mosquitto/config
      - mosquitto_log:/mosquitto/log
    restart: unless-stopped

  node-red:
    container_name: Node-Red
    image: nodered/node-red:latest
    stdin_open: true
    tty: true
    environment:
      - TZ=Europe/London
    # ports:
    #   - 1880:1880
    #   - 3456:3456
    volumes:
      - type: bind
        source: /home/pi/docker-mounts/node-red
        target: /data
    privileged: true
    restart: unless-stopped
    network_mode: host

  led-strip-controller-cli:
    container_name: LED-Strip-Controller-CLI
    build: "./LED-Strip-Controller-Software/Tui"
    network_mode: "host"
    restart: unless-stopped

  fan-controller-back-end:
    container_name: Back-End
    build: "./Web-Based-Fan-Controller/BackEnd"
    ports:
      - "5000:5000"
    privileged: true # Required for GPIO access
    depends_on:
      - node-red
    restart: unless-stopped

  fan-controller-front-end:
    container_name: Front-End
    build: "./Web-Based-Fan-Controller/FrontEnd"
    ports:
      - "5001:80"
    depends_on:
      - fan-controller-back-end
      - node-red
    restart: unless-stopped

  socket-rf-transmitter:
    container_name: smart-rf-transmitter
    build:
      context: "./Smart-RF-Plug-Transmitter/socket_transmitter"
    stdin_open: true
    tty: true
    environment:
      - TZ=Europe/London
      - TSMT_PIN_NUMBER= 13 # BOARD
    ports:
      - 60000:60000
    depends_on:
      - node-red
    privileged: true # Required for GPIO Access
    restart: unless-stopped

  spoolman:
    container_name: spoolman
    image: ghcr.io/donkie/spoolman:latest
    restart: unless-stopped
    volumes:
      # Mount the host machine's ./data directory into the container's /home/app/.local/share/spoolman directory
      - type: bind
        source: /home/pi/docker-mounts/spoolman # This is where the data will be stored locally. Could also be set to for example `source: /home/pi/printer_data/spoolman`.
        target: /home/app/.local/share/spoolman # Do NOT modify this line
    ports:
      # Map the host machine's port 7912 to the container's port 8000
      - "7912:8000"

  # See README for more details - cant use submodule due to git layout so have to build outside and then run with this
  presence-detector:
    image: presence_detector:v1.4.4
    container_name: presence-detector
    restart: unless-stopped
    privileged: true
    environment:
      - MQTT_HOST=127.0.0.1
      - MQTT_PORT=1883
      - MQTT_CLIENT_ID=presence-detector
      - ROOM=master-bedroom
      - SENSOR_ID=1
      - PIN=10 #GPIO10 / Physical Pin 19
      - RUST_LOG=info
    depends_on:
      - mqtt-broker

volumes:
  mosquitto_data:
  mosquitto_log:
