---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    # For DHCP it is recommended to remove these ports and instead add: network_mode: "host"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      # - "67:67/udp" # Only required if you are using Pi-hole as your DHCP server
      - "1080:80/tcp"
    environment:
      TZ: "Europe/London"
      WEBPASSWORD: "Admin"
    # Volumes store your data between container upgrades
    volumes:
      - type: bind
        source: /home/pi/docker-mounts/pihole/etc
        target: /etc/pihole
      - type: bind
        source: /home/pi/docker-mounts/pihole/dnsmasq.d
        target: /etc/dnsmasq.d
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    # cap_add:
    # - NET_ADMIN # Required if you are using Pi-hole as your DHCP server, else not needed
    restart: unless-stopped

  nginx:
    container_name: nginx
    image: nginx:1.29-alpine
    volumes:
      - type: bind
        source: /home/pi/config/nginx/etc/nginx/templates
        target: /etc/nginx/templates
      - type: bind
        source: /home/pi/Home-Lab-Containers/PiHome/Networking/nginx.conf
        target: /etc/nginx/nginx.conf
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=192.168.0.68
      - NGINX_PORT=80
    restart: unless-stopped
